@include media-breakpoint-up(xs) {
  .card {

	h5 {
	  &.card-title {
		font-family: $nrw-montserrat;
		font-weight: 600;
		font-size: 1.3em;
	  }
	}
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}