@include media-breakpoint-up(xs) {
  .card {
		    border-radius: .125rem;
		border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		
		.card-header {
			&:first-child {
				border-radius: 0;
			}
		}

	h5 {
	  &.card-title {
		font-family: $nrw-montserrat;
		font-weight: 600;
		font-size: 1.3em;
	  }
	}
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}