@include media-breakpoint-up(xs) {
  .nrw-footer-cta-section {
	background: #353535;
	padding: 50px 0;
	text-align: center;
	.footer-cta-header {
	  color: #fff;
	  padding-bottom: 25px;
	}
  }

  .nrw-footer-serving-section {
	padding: 50px 0;

	.nrw-serving-section-header {
	  text-align: center;
	  font-family: $nrw-montserrat;
	  font-weight: 700;
	  text-transform: uppercase;
	}
	.nrw-serving-section-list {
	  list-style: none;
	  padding: 0;
	  position: relative;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;

	  a {
		color: #03a9f4;
		font-family: $nrw-roboto;
		font-size: 12px;

		&:hover {
		  text-decoration: none;
		}
	  }
	}
  }
  
  .nrw-footer {
	background: #353535;
	padding: 50px 80px;

	.nrw-footer-heading {
	  color: #fff;
	  text-transform: uppercase;
	  font-family: $nrw-montserrat;
	  font-weight: 600;
	  letter-spacing: 1.5px;

	  &:after {
		content: '';
		margin: 20px 0 30px;
		width: 50%;
		height: 3px;
		background-color: #03a9f4;
		display: block;
	  }
	}

	.nrw-footer-info-items,
	.nrw-footer-info-outer-wrapper,
	.nrw-footer-info-item-inner-wrapper {
	  text-align: left;
	  zoom: 1;
	  border: 0;
	  margin: 0;
	  padding: 0;

	  &:before {
		display: table;
		content: ' ';
	  }

	}

	.nrw-footer-info-item-inner-wrapper {
	  margin: 0 20px;

	  .nrw-footer-info-item-icon-wrap {
		display: inline-block;

		.icon {
		  display: table-cell;
		  vertical-align: middle;
		  text-align: center;

		  &.social-icon {
			height: 60px;
			width: 60px;
		  }

		  .icon-link {
			color: #03a9f4;
			font-size: 18px;

			&.social-icon-link {
			  font-size: 32px;
			}
		  }
		}

		.nrw-footer-info-item-text {
		  display: table-cell;
		  vertical-align: middle;
		  height: 52.5px;
		  padding-left: 15px;
		  text-align: left;

		  .text-link {
			color: #fff;

			&:hover {
			  text-decoration: none;
			  color: #03a9f4;
			}
		  }
		}
	  }

	  .location {
		color: #fff;
		margin: 0;

		&.location-header {
		  font-weight: 600;
		}
		&.location-address {
		  font-size: 0.9em;
		}

		&.location-appt {
		  font-size: 0.9em;
		  font-style: italic;
		}
	  }
	}

	.nrw-input-group-wrapper {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;

	  .nrw-input-text-wrapper {
		width: 100%;
		margin-bottom: 10px;

		&.nrw-input-half {
		  display: inline-block;
		  width: 50%;
		  vertical-align: middle;

		  &.nrw-input-left {
			padding-right: 5px;
		  }
		  &.nrw-input-right {
			padding-left: 5px;
		  }
		}

		input, textarea {
		  font-family: inherit;
		  display: inline-block;
		  border-style: solid;
		  height: auto;
		  width: 100%;
		  outline: none;
		  vertical-align: middle;
		  padding: 16px 15px;
		  margin: 0;
		  font-size: 12px;
		  line-height: 10px;
		  border-radius: 0;
		  text-align: left;
		  border-color: #ccc;
		  color: #333;
		  border-width: 1px;
		}

		textarea {
		  min-height: 130px;
		}
	  }
	}
  }


}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}