@include media-breakpoint-up(xs) {
  .nrw-footer-cta-section {
	background: #353535;
	padding: 50px 0;
	text-align: center;
	.footer-cta-header {
	  color: #fff;
	  padding-bottom: 25px;
	}
  }

  .nrw-footer-serving-section {
	padding: 50px 0;
	.nrw-serving-section-header {
	  text-align: center;
	}
	.nrw-serving-section-list {
	  list-style: none;

	  li {
		display: inline-block;
		padding: 0 30px;
	  }
	}
  }
  
  .nrw-footer {
	background: #353535;
	padding: 50px 80px;

	.nrw-footer-heading {
	  color: #fff;
	  text-transform: uppercase;
	  font-family: $nrw-montserrat;
	  font-weight: 600;
	  letter-spacing: 1.5px;

	  &:after {
		content: '';
		margin: 20px 0 30px;
		width: 50%;
		height: 3px;
		background-color: #03a9f4;
		display: block;
	  }
	}

	.nrw-footer-info-items {
	  list-style: none;
	  padding: 0;
	  margin: 0;

	  .nrw-footer-info-item {
		margin-bottom: 30px;

		a {
		  font-family: $nrw-roboto;
		  font-size: 1.25rem;
		  text-decoration: none;
		  color: #fff;
		  vertical-align: top;

		  &::before {
			color: #03a9f4;
			font-family: FontAwesome;
			content: "\f0c1";
			font-size: 30px;
			line-height: 1;
			text-decoration: none;
			padding-right: 20px;
			-moz-transition: all 0.4s ease-out 0s;
			-webkit-transition: all 0.4s ease-out 0s;
			transition: all 0.4s ease-out 0s;
		  }
		}

		a[href*="tel:"]::before {
			content: "\f095";
		}
		a[href*="mailto:"]::before {
			content: "\f0e0";
		}
		a[href*="facebook.com"]::before {
		  content: "\f09a";
		}
	  }
	}
  }


}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}