.nrw-header-bg-primary {
  background-color: $nrw-primary-dark;

  .navbar-brand {
	color: $nrw-primary-light;
  }
}

.nrw-header-bg-secondary {
  background-color: $nrw-secondary-dark;

  .navbar-brand {
	color: $nrw-secondary-light;
  }
}

.nrw-header-bg-success {
  background-color: $nrw-success-dark;

  .navbar-brand {
	color: $nrw-success-light;
  }
}

.nrw-header-bg-danger {
  background-color: $nrw-danger-dark;

  .navbar-brand {
	color: $nrw-danger-light;
  }
}

.nrw-header-bg-warning {
  background-color: $nrw-warning-dark;

  .navbar-brand {
	color: $nrw-warning-light;
  }
}

.nrw-header-bg-info {
  background-color: $nrw-info-dark;

  .navbar-brand {
	color: $nrw-info-light;
  }
}

.nrw-header-bg-light {
  background-color: $nrw-light-dark;

  .navbar-brand {
	color: $nrw-light-light;
  }
}

.nrw-header-bg-dark {
  background-color: $nrw-dark-dark;

  .navbar-brand {
	color: $nrw-dark-light;
  }
}

.nrw-navbar-primary {
  background-color: $nrw-primary-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-primary-light;

	  &:hover {
		color: $nrw-primary-hover;
	  }
	}

	&.active::after {
	  background: $nrw-primary-hover;
	}

	&::after {
	  background: $nrw-primary-hover;
	}
  }
}

.nrw-navbar-secondary {
  background-color: $nrw-secondary-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-secondary-light;

	  &:hover {
		color: $nrw-secondary-hover;
	  }
	}

	&.active::after {
	  background: $nrw-secondary-hover;
	}

	&::after {
	  background: $nrw-secondary-hover;
	}
  }
}

.nrw-navbar-success {
  background-color: $nrw-success-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-success-light;

	  &:hover {
		color: $nrw-success-hover;
	  }
	}

	&.active::after {
	  background: $nrw-success-hover;
	}

	&::after {
	  background: $nrw-success-hover;
	}
  }
}

.nrw-navbar-danger {
  background-color: $nrw-danger-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-danger-light;

	  &:hover {
		color: $nrw-danger-hover;
	  }
	}

	&.active::after {
	  background: $nrw-danger-hover;
	}

	&::after {
	  background: $nrw-danger-hover;
	}
  }
}

.nrw-navbar-warning {
  background-color: $nrw-warning-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-warning-light;

	  &:hover {
		color: $nrw-warning-hover;
	  }
	}

	&.active::after {
	  background: $nrw-warning-hover;
	}

	&::after {
	  background: $nrw-warning-hover;
	}
  }
}

.nrw-navbar-info {
  background-color: $nrw-info-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-info-light;

	  &:hover {
		color: $nrw-info-hover;
	  }
	}

	&.active::after {
	  background: $nrw-info-hover;
	}

	&::after {
	  background: $nrw-info-hover;
	}
  }
}

.nrw-navbar-light {
  background-color: $nrw-light-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-light-light;

	  &:hover {
		color: $nrw-light-hover;
	  }
	}

	&.active::after {
	  background: $nrw-light-hover;
	}

	&::after {
	  background: $nrw-light-hover;
	}
  }
}

.nrw-navbar-dark {
  background-color: $nrw-dark-dark;

  .nav-item {
	.nav-link {
	  color: $nrw-dark-light;

	  &:hover {
		color: $nrw-dark-hover;
	  }
	}

	&.active::after {
	  background: $nrw-dark-hover;
	}

	&::after {
	  background: $nrw-dark-hover;
	}
  }
}

@include media-breakpoint-up(xs) {
  .navbar {
	box-shadow: none;

	.navbar-nav {
	  position:relative;
	  display:inline-block;
	  white-space:nowrap;

	  .nav-item {
		position: relative;

		.nav-link {
		  padding-left: 0;
		  padding-right: 0;
		  text-transform: uppercase;
		  letter-spacing: 1.5px;
		}

		&.active::after {
		  opacity: 1;
		  -webkit-transform: translateY(0px);
		  -moz-transform: translateY(0px);
		  transform: translateY(0px);
		}

		&::after {
		  position: absolute;
		  top: 100%;
		  left: 0;
		  width: 100%;
		  content: '';
		  opacity: 0;
		  padding: 0;
		  height: 1px;
		  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
		  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
		  transition: height 0.3s, opacity 0.3s, transform 0.3s;
		  -webkit-transform: translateY(-10px);
		  -moz-transform: translateY(-10px);
		  transform: translateY(-10px);
		}

		&:hover::after {
		  opacity: 1;
		  -webkit-transform: translateY(0px);
		  -moz-transform: translateY(0px);
		  transform: translateY(0px);
		}
	  }
	}

	&.nrw-navbar-inline {
	  .nav-item {
		&.active::after {
		  bottom: -45px;
		}
		&::after {
		  bottom: -45px;
		}
	  }
	}

	&.left {

	  .navbar-nav {
		margin-right: auto !important;
	  }

	}

	&.right {

	  .navbar-nav {
		margin-left: auto !important;
	  }

	}

	&.center {

	  .navbar-nav {
		margin-right: auto !important;
		margin-left: auto !important;
	  }

	}

	&.justify {
	  padding: 0;

	  .navbar-nav {
		display: flex;
		justify-content: space-around;
		text-align: center;
		width: 100%;
	  }

	}

  }
}
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {
  .navbar {

	.navbar-nav {

	  .nav-item {
		display: inline-block;
	  }
	}
  }

}
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }
