@include media-breakpoint-up(xs) {
  .nrw-fixed-top {

	#nrw-jumbotron {
	  padding-top: 128px;
	}

	&.nrw-news-ticker {
	  #nrw-jumbotron {
		padding-top: 169px;
	  }
	}
  }
  .jumbotron-css {

	.jumbo-content-wrapper {
	  position: relative;
	  padding: 100px 0 100px 150px;

	  &::before {
		position: absolute;
		top: 5rem;
		left: 4.125rem;
		width: 12.75rem;
		height: 7.9375rem;
		border: 1px solid;
		border-color: rgba(252, 81, 48, 0.2);
		//border-color: rgba(255, 255, 255, 0.2);
		content: "";
	  }

	  &::after {
		position: absolute;
		right: 1rem;
		bottom: 11rem;
		width: 9.375rem;
		height: 6.375rem;
		border: 1px solid;
		content: "";
		z-index: 1;
		border-color: rgba(3, 169, 244, 0.5);
	  }

	  .jumbo-header {
		font-family: $nrw-montserrat;
		font-weight: 500;
		font-size: 34px;
		text-transform: uppercase;
		letter-spacing: 1px;
	  }

	  .jumbo-sub-header {
		font-family: $nrw-montserrat;
		font-weight: 800;
		font-size: 40px;
		text-transform: uppercase;
		letter-spacing: 1px;
	  }

	  .jumbo-content {
		font-family: $nrw-roboto;
		font-weight: 300;
		letter-spacing: 1px;
		margin-bottom: 50px;
	  }

	  .jumbo-btn {
		font-family: $nrw-roboto;
		color: #fff;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 15px 20px;
		border: 1px solid #fff;
		-webkit-transition: color 0.3s, background 0.3s;
		-moz-transition: color 0.3s, background 0.3s;
		transition: color 0.3s, background 0.3s;

		&:hover {
		  text-decoration: none;
		  color: #000;
		  background: #fff;
		}
	  }
	}
  }
  .jumbo-video-wrapper {
	width: 100%;
	padding: 100px;

	video {
	  width: 721px;
	  height: 405px;
	}
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}