@include media-breakpoint-up(xs) {
  .tophead {
    display: flex;
    background-color: #ffffff;
    clear: both;
    width: 100%;
  }
  .top-news {
    float: left;
    width: 75%;

    a {
      width: 100%;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .top-news-title {
    display: block;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: -500px;
    padding: 8px 6px 9px 500px;
    position: relative;

    &::after {
      content: "";
      display: inline;
      float: right;
      position: absolute;
      right: -16px;
      bottom: 0;
    }
  }

  #news-ticker {
    float: left;
    font-size: 14px;
    font-weight: 500;
    margin: 9px 0 6px 20px;
    max-height: 21px;
    overflow: hidden;
    width: 300px;
  }

  .ticker-primary {
    background-color: $nrw-primary-dark;

    .top-news-title {
      background-color: $nrw-primary-light;
      color: $nrw-primary-dark;

      &::after {
        border-left: 16px solid $nrw-primary-light;
        border-top: 41px solid $nrw-primary-dark;
      }
    }

    .top-news a {
      color: $nrw-primary-light;
    }
  }

  .ticker-secondary {
    background-color: $nrw-secondary-dark;

    .top-news-title {
      background-color: $nrw-secondary-light;
      color: $nrw-secondary-dark;

      &::after {
        border-left: 16px solid $nrw-secondary-light;
        border-top: 41px solid $nrw-secondary-dark;
      }
    }
    .top-news a {
      color: $nrw-secondary-light;
    }
  }

  .ticker-success {
    background-color: $nrw-success-dark;

    .top-news-title {
      background-color: $nrw-success-light;
      color: $nrw-success-dark;

      &::after {
        border-left: 16px solid $nrw-success-light;
        border-top: 41px solid $nrw-success-dark;
      }
    }

    .top-news a {
      color: $nrw-success-light;
    }
  }

  .ticker-danger {
    background-color: $nrw-danger-dark;

    .top-news-title {
      background-color: $nrw-danger-light;
      color: $nrw-danger-dark;

      &::after {
        border-left: 16px solid $nrw-danger-light;
        border-top: 41px solid $nrw-danger-dark;
      }
    }

    .top-news a {
      color: $nrw-danger-light;
    }
  }

  .ticker-warning {
    background-color: $nrw-warning-dark;

    .top-news-title {
      background-color: $nrw-warning-light;
      color: $nrw-warning-dark;

      &::after {
        border-left: 16px solid $nrw-warning-light;
        border-top: 41px solid $nrw-warning-dark;
      }
    }

    .top-news a {
      color: $nrw-warning-light;
    }
  }

  .ticker-info {
    background-color: $nrw-info-dark;

    .top-news-title {
      background-color: $nrw-info-light;
      color: $nrw-info-dark;

      &::after {
        border-left: 16px solid $nrw-info-light;
        border-top: 41px solid $nrw-info-dark;
      }
    }

    .top-news a {
      color: $nrw-info-light;
    }
  }

  .ticker-light {
    background-color: $nrw-light-dark;

    .top-news-title {
      background-color: $nrw-light-light;
      color: $nrw-light-dark;

      &::after {
        border-left: 16px solid $nrw-light-light;
        border-top: 41px solid $nrw-light-dark;
      }
    }

    .top-news a {
      color: $nrw-light-light;
    }
  }

  .ticker-dark {
    background-color: $nrw-dark-dark;

    .top-news-title {
      background-color: $nrw-dark-light;
      color: $nrw-dark-dark;

      &::after {
        border-left: 16px solid $nrw-dark-light;
        border-top: 41px solid $nrw-dark-dark;
      }
    }

    .top-news a {
      color: $nrw-dark-light;
    }
  }
}
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }