@include media-breakpoint-up(xs) {
  .tophead {
    display: flex;
    background-color: #ffffff;
    clear: both;
    width: 100%;
  }
  .top-news {
    float: left;
    width: 35%;
  }
  .top-news-title {
    display: block;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: -500px;
    padding: 8px 6px 9px 500px;
    position: relative;
  }
  .top-news-title::after {
    content: "";
    display: inline;
    float: right;
    position: absolute;
    right: -16px;
    bottom: 0;
  }
  #news-ticker {
    float: left;
    font-size: 14px;
    font-weight: 500;
    margin: 9px 0 6px 20px;
    max-height: 21px;
    overflow: hidden;
  }
  .top-news a {
    width: 100%;
  }
  .tophead.ticker-primary {
    background-color: $nrw-primary-dark;
  }
  .ticker-primary .top-news-title {
    background-color: $nrw-primary-light;
    color: $nrw-primary-dark;
  }
  .ticker-primary .top-news-title::after {
    border-left: 16px solid $nrw-primary-light;
    border-top: 41px solid $nrw-primary-dark;
  }
  .ticker-primary .top-news a {
    color: #ffffff;
  }

  .tophead.ticker-secondary {
    background-color: #2e3133;
  }
  .ticker-secondary .top-news-title {
    background-color: #e7e8ea;
    color: #2e3133;
  }
  .ticker-secondary .top-news-title::after {
    border-left: 16px solid #e7e8ea;
    border-top: 41px solid #2e3133;
  }
  .ticker-secondary .top-news a {
    color: #ffffff;
  }

  .tophead.ticker-success {
    background-color: #155724;
  }
  .ticker-success .top-news-title {
    background-color: #d4edda;
    color: #155724;
  }
  .ticker-success .top-news-title::after {
    border-left: 16px solid #d4edda;
    border-top: 41px solid #155724;
  }
  .ticker-success .top-news a {
    color: #ffffff;
  }
  .tophead.ticker-danger {
    background-color: #721c24;
  }
  .ticker-danger .top-news-title {
    background-color: #f8d7da;
    color: #721c24;
  }
  .ticker-danger .top-news-title::after {
    border-left: 16px solid #f8d7da;
    border-top: 41px solid #721c24;
  }
  .ticker-danger .top-news a {
    color: #ffffff;
  }
  .tophead.ticker-warning {
    background-color: #856404;
  }
  .ticker-warning .top-news-title {
    background-color: #fff3cd;
    color: #856404;
  }
  .ticker-warning .top-news-title::after {
    border-left: 16px solid #fff3cd;
    border-top: 41px solid #856404;
  }
  .ticker-warning .top-news a {
    color: #ffffff;
  }
  .tophead.ticker-info {
    background-color: #0c5460;
  }
  .ticker-info .top-news-title {
    background-color: #d1ecf1;
    color: #0c5460;
  }
  .ticker-info .top-news-title::after {
    border-left: 16px solid #d1ecf1;
    border-top: 41px solid #0c5460;
  }
  .ticker-info .top-news a {
    color: #ffffff;
  }
  .tophead.ticker-light {
    background-color: #818182;
  }
  .ticker-light .top-news-title {
    background-color: #fefefe;
    color: #818182;
  }
  .ticker-light .top-news-title::after {
    border-left: 16px solid #fefefe;
    border-top: 41px solid #818182;
  }
  .ticker-light .top-news a {
    color: #ffffff;
  }
  .tophead.ticker-dark {
    background-color: #1b1e21;
  }
  .ticker-dark .top-news-title {
    background-color: #d6d8d9;
    color: #1b1e21;
  }
  .ticker-dark .top-news-title::after {
    border-left: 16px solid #d6d8d9;
    border-top: 41px solid #1b1e21;
  }
  .ticker-dark .top-news a {
    color: #ffffff;
  }
}
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }