@include media-breakpoint-up(xs) {
	.jtk-connector {
		margin-top: 30px;
		margin-bottom: 50px;
	}
  .nrw-process-section-wrapper {
	padding: 75px 0;

	.nrw-card {
	  position: relative;
	  margin: 50px auto;
	  min-height: 300px;

	  .card-header {
		padding: 4rem 1.25rem 0;
		position: relative;
		background-color: #03a9f4;

		svg {
		  position: absolute;
		  right: 15px;
		  top: 15px;
		  display: block;
		  height: 50px;
		  width: 60px;
		}

		.card-title {
		  color: $nrw-light-text;
		}
	  }
	}

	.nrw-process-header-wrapper {
	  margin-top: 30px;
	  padding-top: 30px;

	  .nrw-action-bar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		&::before {
		  display: block;
		  position: absolute;
		  top: 50%;
		  left: 0;
		  z-index: 0;
		  margin-top: -1px;
		  background-color: #c6e4f7;
		  width: 100%;
		  height: 2px;
		  content: "";
		}

		.nrw-action-bar-slot {
		  position: relative;
		  z-index: 1;

		  span {
			display: inline-block;
			margin-bottom: 0;
			background-image: none;
			vertical-align: middle;
			text-align: center;
			text-decoration: none;
			white-space: nowrap;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			font-family: $nrw-montserrat;
			font-size: 1.375rem;
			line-height: 1.375rem;
			font-weight: 700;
			border: 2px solid #c6e4f7;
			background-color: #fff;
			padding: 14px 24px;
			color: #215e7f;
		  }
		}
	  }
	}

	.nrw-process-outer-wrapper {
	  display: table;
	  padding: 30px 0;

	  .nrw-process-inner-wrapper {
		display: table-row;

		.nrw-process-icon-wrapper {
		  display: table-cell;
		  width: 30%;
		  vertical-align: middle;

		  svg {
			display: block;
			height: 150px;
			width: 160px;
		  }
		}

		.nrw-process-content-wrapper {
		  padding: 0 15px;
		  display: table-cell;
		  vertical-align: middle;
		  width: 69%;

		  .nrw-process-content-header {
			text-transform: uppercase;
			font-family: $nrw-montserrat;
			font-weight: 700;
		  }
		}
	  }
	}
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
	
}

@include media-breakpoint-up(xl) {
	.nrw-process-section-wrapper {

		.nrw-card {
				width: 18rem;
		}
	}
}