/**
 * Colors
 */
$nrw-accent-primary: #03a9f4;

$nrw-primary-dark: #004085;
$nrw-primary-light: #cce5ff;
$nrw-primary-hover: #56CFFF;

$nrw-secondary-dark: #2e3133;
$nrw-secondary-light: #e7e8ea;
$nrw-secondary-hover: #9a9b9e;

$nrw-success-dark: #155724;
$nrw-success-light: #d4edda;
$nrw-success-hover: #67ed9b;

$nrw-danger-dark: #721c24;
$nrw-danger-light: #f8d7da;
$nrw-danger-hover: #f8897e;

$nrw-warning-dark: #856404;
$nrw-warning-light: #fff3cd;
$nrw-warning-hover: #ffe47a;

$nrw-info-dark: #0c5460;
$nrw-info-light: #d1ecf1;
$nrw-info-hover: #89dcf1;

$nrw-light-dark: #818182;
$nrw-light-light: #fefefe;
$nrw-light-hover: #b6b6b6;

$nrw-dark-dark: #1b1e21;
$nrw-dark-light: #d6d8d9;
$nrw-dark-hover: #8e8f90;



/**
 * Fonts
 */
$nrw-roboto: 'Roboto', sans-serif;
$nrw-anders: 'andersregular', 'Roboto', sans-serif;
$nrw-montserrat: 'Montserrat', sans-serif;
